<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>628436226285-pmlh438a44uhjmmj9vti2827oamtsl9r.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.628436226285-pmlh438a44uhjmmj9vti2827oamtsl9r</string>
	<key>API_KEY</key>
	<string>AIzaSyAx-svVtmzeCX74iGnXafpW1KJBhjPShsI</string>
	<key>GCM_SENDER_ID</key>
	<string>628436226285</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.iljoochae.DDE</string>
	<key>PROJECT_ID</key>
	<string>ddeworld-4771a</string>
	<key>STORAGE_BUCKET</key>
	<string>ddeworld-4771a.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:628436226285:ios:038d6fffe580c02ffcfce4</string>
	<key>DATABASE_URL</key>
	<string>https://ddeworld-4771a.firebaseio.com</string>
</dict>
</plist>